@charset "UTF-8";
div#principal{
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(180deg,#60A3A8,#A4F0F5);
    box-shadow: inset -20px -20px 10px white,inset 20px 20px 20px white;
}
p{
    text-align: justify;
}
tr, td{   
    border: 1px solid black;
    padding: 10px;
}
hr{
    padding: 2px;
    background-color: #A8A068;
    box-shadow: 0px 0px 5px black;
}
table{
    margin: 2px auto 0px auto;
    padding: 0px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
th{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A8A068;
    padding: 10px;
    font-weight: bold; 
}

tr:hover:nth-child(1n+2){
    background-color: #F5E78C;
    font-weight: bold;
}
h1{
    text-align: center;
}
li{
    list-style: none;
}
li:hover{
    
    font-weight: bolder;
    color: #F5BCDF;
    padding: 10px;
    max-width: max-content;
    border-radius: 10px;
    background-color: #A8A068;
}