@charset "UTF-8";

p {

    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    text-align: justify;
}
body{

    background-color: rgb(247, 245, 245);
    color: rgba(red, green, blue, alpha);
}
div#interface {

    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,.4);
}
/*define a formatação de imagens com legendas*/
figure.foto-legenda{

    position: relative;
    border: 8px solid white;
    box-shadow: 2px 2px 4px black;

}
figure.foto-legenda img{

    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition-duration: 1s;

}
figure.foto-legenda figcaption:hover {

        opacity: 1;
}

/*Define as configurações do menu*/
nav#menu{

    display: block;

}
nav#menu h1{

    display: none;
}
nav#menu ul{

    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: -20px;
    left: 395px;

}

nav#menu li{

    display: inline-block;
    background-color: rgb(151, 150, 150);
    padding: 10px;
    margin: 2px;
    transition: 1s;
}
nav#menu li:hover{

    background-color: rgb(75, 75, 75);
}
nav#menu a {

    color: black;
    text-decoration: none;
    transition: 1s;
    font-family: Verdana, sans-serif;

}
nav#menu a:hover{

    color: white;
}

