@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@font-face {
    font-family: "Fonte-mikael";
    src: url("../_fonts/computer-font.ttf");
}

div#interface p {

    font-family: "Arial", Helvetica, sans-serif;
    text-indent: 50px;
    text-align: justify;
}
body{

    background-color: rgb(247, 245, 245);
    color: rgba(red, green, blue, alpha);
}
div#interface {

    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,.4);
    padding: 10px;
}
/*define a formatação de imagens com legendas*/
figure.foto-legenda{

    position: relative;
    border: 8px solid white;
    box-shadow: 2px 2px 4px black;

}
figure.foto-legenda img{

    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition-duration: 1s;

}
figure.foto-legenda figcaption:hover {

        opacity: 1;
}

/*Define as configurações do menu*/
nav#menu{

    display: block;

}
nav#menu h1{

    display: none;
}
nav#menu ul{

    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: -20px;
    left: 395px;

}

nav#menu li{

    display: inline-block;
    background-color: rgb(151, 150, 150);
    padding: 10px;
    margin: 2px;
    transition: 1s;
}
nav#menu li:hover{

    background-color: rgb(75, 75, 75);
}
nav#menu a {

    color: black;
    text-decoration: none;
    transition: 1s;
    font-family: Verdana, sans-serif;

}
nav#menu a:hover{

    color: white;
}
/*configura o posicionamento das figuras e cabeçalho*/
header#cabecalho h1{

    font-family: 'IBM Plex Mono', monospace;
    color: grey;
    font-size: 30p;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,.6);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{

    font-family: 'IBM Plex Mono', monospace;
    color: grey;
    font-size: 30p;
    padding: 0px;
    margin-top: 0px;
}
header#cabecalho{

    border-bottom: 1px rgb(48, 48, 48) solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
    
}
header#cabecalho img#icone{
    position: absolute;
    left: 890px;
    top: 70px;
}
/*Configuração da area de conteúdo*/
section#corpo{
    display: block;
    float: left;
    width: 520px;
    border-right: 1px solid rgb(75, 75, 75);
    padding-right: 15px;

}
aside#conteudolateral{
    display: block;
    float: right;
    width: 350px;
    

}

footer#rodape{
        
    border-top: 1px solid rgb(75, 75, 75);
    clear: both;
    
}

footer#rodape p{

    text-align: center;
}
footer#rodape a{

    text-align: center;
}
